@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --foreground: #333333;
  --container-orange-bg: #FFA500;
  --container-orange-fg: #FFFFFF;
  --container-lime-bg: #32CD32;
  --container-lime-fg: #FFFFFF;
  --container-purple-bg: #800080;
  --container-purple-fg: #FFFFFF;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #E0E0E0;
  }
}
