@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --foreground: #333333;
}

.dark {
  --background: #121212;
  --foreground: #E0E0E0;
  background-image: url('/darkpoly.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
}

/* Light Mode */
.light {
  background-image: url('/lightpolyblue.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
}
